PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://sarvagyaranjan13_db_user:7y73m3NuWSP9QC5S@cluster0.4hfgwh0.mongodb.net
JWT_SECRET=dev-only-change-me-6f2a9c4e8b1d
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=https://ivy-homes-assignment2-r7c5.vercel.app
IVY_BASE_URL=https://solve.ivy.homes
IVY_API_KEY=IVY26-5505ACCD32DB
IVY_DEMO_PASSWORD=87402cd296
IVY_CITY=pune
IVY_ASSIGNED_LOCALITY=baner